
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Navigation bar styles */
  header {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    font-size: 30px;
  }
  
  .search-bar {
    width: 600px;
    height: 30px;
    background-color:white;
    margin: 0 auto; 
    border: none;
    margin-left: 100px;
    padding: 5px;
    font-size: 14px;
    border-radius: 15px; 
    text-align: center; 
  }
  
  .menu {
    list-style-type: none;
    display: flex;
    margin-left: auto;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  /* Video player section */
  .video-container {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 20px;
    margin-top: 30px;
    float: left;
  }
  
  .video-container iframe {
    width: 100%;
    height: 100%;
  }

  .video-info {
    background-color:  #f2f2f2;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  
  .video-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .video-description {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
  }
  
  .video-views {
    font-size: 14px;
    color:black;
    font-weight: bold;
  }
  
  .sidebar {
    width: 250px;
    /* background-color: #f2f2f2; */
    padding: 20px;
    margin-top:10px ;
    margin-left: 50px;
    float: left; /* Float the sidebar to the left */
    margin-bottom: 80px;
  }
  
  .thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  }

  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px; 
  }
  
  .footer-content {
    font-size: 14px;
    color: #777;
  }
  
  
  
  